*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", serif;
    font-style: normal;

}
html{
    scroll-behavior: smooth;
}


.navbar{
    width: 100%;
    min-height: 100vh;
    background-image: url(gambar/pexels-eberhardgross-640809.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    top: 0;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #e2e4e1;
}


.nihao{
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    color: black;
    text-decoration: none;
}


.pembuka{
    font-weight:100 ;
    font-size: 400%;
    padding-top: 18%;
    text-align: center;
    color: white;


}
.nim{
    font-size: 130%;
    padding-left: 3%;
    padding-top: 1%;

}



.foto{
    width: 45%;
    position: absolute;
    padding-left: 15%;
    padding-top: 17%;
    padding-bottom: 6%;
    transition:  600ms ease-in-out;

}
.foto:hover{
    transform: scale(1.35);
}

.isipropil{
    padding-left: 55%;
    padding-top: 25%;
    color: #9e5f1e;
    font-size: 150%;
}
.subisipropil{
    color: black;
    padding-right: 15%;
    text-align: justify;
}

.kucing{
    width: 3%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 60px;
    
}
nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
    
}

    
.paragraf{
    margin-left: 10%;
    margin-right: 58%;
}
.sub-par{
    margin-left: 12%;
    margin-right: 59%;
}


    
.tekx{
    text-align: center;
    padding: 4%;
    font-size: 60px;
}

.sub-par{
    margin-left: 12%;
    margin-right: 59%;
}



.fotomateri{
    width: 56%;
}

